@page "/statistics/common"
@using AutoReferenceSystem.WebClient.Logic.Extensions
@using AutoReferenceSystem.WebClient.Models.Statistic
@using AntDesign.Charts


<PageContainer Title="Общая статистика">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>Статистика/Общее</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <Content>
        <span>Здесь вы можете получить пересказ исходного текста, выбрав все необходимые опции.</span>
    </Content>
    <ChildContent>
        <Card>
            <Table DataSource="_servers" TItem="ServerData">
                <TitleTemplate>
                    <GridRow>
                        <GridCol Span="4">
                            <Title Level="3">Доступные сервера моделей</Title>
                        </GridCol>
                        <GridCol Span="8" Offset="12">
                            <Search Placeholder="Поиск"/>
                        </GridCol>
                    </GridRow>
                </TitleTemplate>
                <ColumnDefinitions>
                    <PropertyColumn Property="c=>c.Host"/>
                    <PropertyColumn Property="c=>c.Label"/>
                    <PropertyColumn Property="c=>c.Models">
                        @context.Models.AsOneString()            
                    </PropertyColumn>
                </ColumnDefinitions>
            </Table>
            <Divider />
            <br />
            <br />


            <Title Level="3">Модель: </Title>

            <div style="margin-top:2em">
                <GridRow Gutter="(16, 16)">
                    <GridCol Span="12">
                        <Title Level="4">"Запросы на инференс"</Title>
                        <br/>
                        <Line @ref="_inferenceRequestsChart" Data="_inferenceAllRequests" Config="_inferenceRequestsChartConfig"/>
                    </GridCol>
                    <GridCol Span="12">
                        <Title Level="4">"Средняя (общая) загрузка ЦП"</Title>
                        <br />
                        <Line @ref="_cpuUtilizationChart" Data="_cpuUtilizationData" Config="_cpuUtilizationChartConfig" />
                    </GridCol>
                </GridRow>
                <GridRow Gutter="(16, 16)">
                    <GridCol Span="12">
                        <Title Level="4">"Средняя (общая) загрузка видеокарты"</Title>
                        <br />
                        <Line @ref="_gpuUtilizationChart" Data="_gpuUtilizationData" Config="_gpuUtilizationChartConfig" />
                    </GridCol>
                    <GridCol Span="12">
                        <Title Level="4">"Средняя нагрузка на ОЗУ"</Title>
                        <br />
                        <Line @ref="_memoryUtilizationChart" Data="_memoryUtilizationData" Config="_memoryUtilizationChartConfig" />
                    </GridCol>
                </GridRow>
            </div>
             <br />
             <br />
         </Card>
     </ChildContent>
 </PageContainer>



